:root.theme-dark {
  --accent-color: #ff0070;
  --title-color: #db00ff;
  --header-color: #ff0070;
  --main-text-color: #000028;
  --text-color: #f1b2ce;
  --body-bg-color: #000028;
  --bg-image: url('../images/cover-image-dark.png');
  --button-hover-color: rgba(255, 0, 112, 0.4);
}

.theme-dark .header__rec {
  display: flex;
}